@font-face {
  font-family: Tanha;
  src: url("./assets/fonts/Tanha.eot");
  src: url("./assets/fonts/Tanha.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Tanha.woff") format("woff"),
  url("./assets/fonts/Tanha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "Tanha" !important;
}
.App-register .App-login{
  height: 100vh !important;
}
